<div class="">
	<h1>Welcome!</h1>

	<br>

	<h3>Features</h3>

	<p style="width: 90%;text-align: justify;">
			Lorem ipsum dolor amet sartorial vape cliche marfa, echo park tilde XOXO cold-pressed williamsburg biodiesel photo booth woke normcore. Beard before they sold out heirloom cold-pressed air plant asymmetrical paleo messenger bag. Live-edge edison bulb photo booth fanny pack XOXO, next level pok pok meditation man braid viral lomo artisan tote bag. Narwhal pour-over sriracha literally.
	</p>

	<!-- <img src="src/assets/home.png"> -->

</div>